[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "glmmLasso"]
	path = glmmLasso
	url = https://github.com/cran/glmmLasso
	shallow = true
	registered = true
