[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PenCoxFrail"]
	path = PenCoxFrail
	url = https://github.com/cran/PenCoxFrail
[submodule "glmmLasso"]
	path = glmmLasso
	url = https://github.com/cran/glmmLasso
